body {
    font-family: Helvetica, Arial, sanserif;
}

#map {
    height: 60vh;
}

dl dt {
    font-weight: bold;
    margin-top: 1ex;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 83.33333%;
    background: #eeeeff;
    padding: .75rem 0;
}

.gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    grid-gap: 1rem;
}

.gallery-image .gallery-description {
    min-height: 3rem;
}

.gallery-image img {
    max-width: 100%;
}
