body {
    font-family: Helvetica, Arial, sanserif;
}

.logo {
    text-decoration: none;
}

.logo img {
    height: 2ex;
}

.notice {
    background: #ffffee;
    padding: 1ex;
    border: solid #aaaaaa 1px;
    border-radius: 1ex;
}

.notice::before {
    font-weight: bold;
    content: "Notice: ";
}

#map {
    width: 60vh;
    min-width: 1200px;
    height: 80vh;
    min-height: 1600px;
}

#map {
    display: flex;
    align-items: center;
    justify-content: center;
}

dl dt {
    font-weight: bold;
    margin-top: 1ex;
}

.primary-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 83.33333%;
    background: #eeeeff;
    padding: .75rem 0;
}

.secondary-nav {
    display: block;
    font-style: italic;
}

.secondary-nav::before {
    content: "( Jump to: ";
}

.secondary-nav::after {
    content: ")";
}

.secondary-nav a {
}

.gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    background: #eeeeee;
}

.gallery-image {
    padding: 1rem;
    background: #ffffff;
}

.gallery-image .gallery-description {
    min-height: 3rem;
}

.gallery-image img {
    max-width: 100%;
}
